/*
 * Blinker from https://www.kapadiya.net/snippets/how-to-make-blinking-flashing-text-with-css3-and-jquery/
 */
.blink {
    -webkit-animation-name: blinker;
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    
    -moz-animation-name: blinker;
    -moz-animation-duration: 1s;
    -moz-animation-timing-function: linear;
    -moz-animation-iteration-count: infinite;
    
    animation-name: blinker;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@-moz-keyframes blinker {  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

@-webkit-keyframes blinker {  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

@keyframes blinker {  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}


#console-container{
    font-size: x-large;
    max-height: 600px;
    overflow-y:scroll;
    font-family: 'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'source-code-pro', monospace;
}

#prompt > div {
    position: relative !important;
}

/* The inner console element. */
.jqconsole {
    padding: 10px;
    font-size: x-large;
    font-family: 'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'source-code-pro', monospace;
}
/* The cursor. */
.jqconsole-cursor {
    border-bottom: 3px solid gray;
}
/* The cursor color when the console looses focus. */
.jqconsole-blurred .jqconsole-cursor {
    background-color: gray;
    border-bottom: 0px solid red;
    text-decoration: none;
}

/* The current prompt text color */
.jqconsole-prompt {
    color: #4AA41F;
}
/* The command history */
.jqconsole-old-prompt {
    color: #0b0;
    font-weight: normal;
}
/* The text color when in input mode. */
.jqconsole-input {
    color: #dd0;
}
/* Previously entered input. */
.jqconsole-old-input {
    color: #bb0;
    font-weight: normal;
}
/* The text color of the output. */
.jqconsole-output {
    color: white;
}






.course-title{
    color:white;
    margin-left:2em;
}


#editor-pane {
    position: fixed;
    width:100%;
}
#editor-pane .portlet-body{
    padding:0px;
}

#main-editor { 
    height: 600px;
    width:100%;
    margin: 0px;
}

#editor-buttons{
   position: absolute;
   bottom: 40px;
   right: 40px;
   background-color: hsl(0, 50%, 90%);
   z-index: 30;
}
#editor-buttons > p.text-danger{
    margin:0.25em;
    font-size: large;
}
.editor-status{
    margin-left: 0px !important;
}

.page-footer{
    z-index: 300;
}

#history{
    background-color: white;
}

.console-item{
    padding-left: 10px;
}
.result{
    color:#4AA41F;
}
.exp{
    color:black;
}
.exp::before{
    content: "➤ ";
    /*color:#BFBFBF;*/
    color:black;
}
.err{
    color:#C3292D;
    font-weight: bold;
}

.panel {
    font-size: xx-large;
}
.panel h3{
    font-size: xx-large;
}
.panel .panel-body{
    font-size: x-large;
}
.slide-editor-container{
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #002451;
    margin-bottom: 20px;
}
pre {
    border: 0px;
}
.slide-editor{
    font-size: x-large;
}
.slide-editor-container > button {
    float:right;
}
.talk-image{
    width:100%;
    margin-bottom: 30px;
}